<a href="https://colab.research.google.com/github/David-GHMM/ML-Lab1/blob/main/%D0%9C%D0%9E_%D0%9B%D0%A01_%D0%9C%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D1%8F%D0%BD_%D0%9F%D0%98%D0%9D_231.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Лабораторная работа №1
**Цель работы:** познакомиться с использованием библиотеки pandas при решении
практических задач, связанных с анализом данных.
В данной работе будет проанализирован датасет "occup.csv".

Описание полей:
* user_id – идентификатор пользователя;
* age – возраст;
* gender – пол;
* occupation – занятость;
* zip_code – почтовый индекс.

#1. Импортируйте необходимые библиотеки

In [2]:
import numpy as np
import pandas as pd

#2. Импортируйте набор данных из файла occup.csv, поместите его в датафрейм и используйте user_id в качестве индекса

In [7]:
df = pd.read_csv("occup.csv", index_col="user_id", sep="|")
df.index

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
      dtype='int64', name='user_id', length=943)

#3. Выведите первые 15 записей и последние 17 записей

Первые 15 записей:

In [4]:
print(df.head(15))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301

Последние 17 записей:

In [ ]:
print(df.tail(17))

         age gender     occupation zip_code
user_id
927       23      M     programmer    55428
928       21      M        student    55408
929       44      M      scientist    53711
930       28      F      scientist    07310
931       60      M       educator    33556
932       58      M       educator    06437
933       28      M        student    48105
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

#4. Каково количество наблюдений в наборе данных?

In [ ]:
print(f"Количество наблюдений равно: {len(df)}")
print(f"Количество строк: {df.shape[0]}\n"
      f"Количество столбцов: {df.shape[1]}")
df.count()

Количество наблюдений равно: 943
Количество строк: 943
Количество столбцов: 4

age           943
gender        943
occupation    943
zip_code      943
dtype: int64

#5. Получите сводную информацию по датафрейму

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

#6. Как индексируется набор данных?

In [ ]:
index_info = {
    "index_name": df.index.name,
    "index_type": type(df.index.dtype).__name__,
    "index_nunique": df.index.nunique(),
    "index_is_unique": df.index.is_unique
}
print(index_info, end="\n\n")

df.index

{'index_name': 'user_id', 'index_type': 'Int64DType', 'index_nunique': 943, 'index_is_unique': True}

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
      dtype='int64', name='user_id', length=943)

#7. Выведите только столбец occupation (разными способами)

In [ ]:
print(f'Первый способ:\n{df["occupation"]}\n')
print(f'Второй способ:\n{df.occupation}\n')
print(f'Третий способ:\n{df[["occupation"]]}\n')

Первый способ:
user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

Второй способ:
user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

Третий способ:
            occupation
user_id
1           technician
2                other
3               writer
4           technician
5                other
...                ...
939            student
940      administrator
941            student
942          librarian
943            student

[943 rows x 1 columns]

#8. Сколько различных профессий содержит этот набор данных?

In [ ]:
df.occupation.nunique()

21

#9. Какая профессия встречается наиболее часто?

In [ ]:
print(df['occupation'].mode().to_string(index=False))

student

#10. Какая профессия встречается наиболее часто у молодых мужчин?

In [ ]:
temp_df = df[(df.age < 45) & (df.gender == "M")]

#print(temp_df.occupation.value_counts()[:5])
print(temp_df.occupation.mode().to_string(index=False))

student

#11. Получите обобщенные данные только для столбца occupation

In [ ]:
df['occupation'].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

#12. Каков средний возраст пользователей?

In [ ]:
print(f"Средний возраст пользователей равен: {df['age'].mean()}")

Средний возраст пользователей равен: 34.05196182396607

#13. Какой возраст встречается реже всего?

In [ ]:
age_cnt = df.age.value_counts()
min = age_cnt.min()
age_cnt[age_cnt == min]

age
7     1
11    1
66    1
10    1
73    1
Name: count, dtype: int64

#14. Проиндексируйте датафрейм по полю gender и определите наибольшее и наименьшее значение возраста в этих категориях

In [ ]:
new_df = df.copy()
new_df.reset_index(inplace=True)
new_df.set_index("gender", inplace=True)

print(new_df.groupby(level='gender')['age'].agg(['min','max']).sort_index())

        min  max
gender
F        13   70
M         7   73

#15. Преобразуйте значения age в числа с плавающей запятой и вычислите для этого столбца среднее значение, моду, медиану, дисперсию и среднеквадратичное отклонение

In [ ]:
age_float = df['age'].astype(float)

print(f"Среднее значение: {age_float.mean()}")
print(f"Мода: {age_float.mode().to_string(index=False)}")
print(f"Медиана: {age_float.median()}")
print(f"Дисперсия: {age_float.var()}")
print(f"Среднеквадратичное отклонение: {age_float.std()}")

Среднее значение: 34.05196182396607
Мода: 30.0
Медиана: 31.0
Дисперсия: 148.6629021981167
Среднеквадратичное отклонение: 12.192739733059044

#16. Разделите набор данных на два датафрейма – отдельно для мужчин и для женщин

In [ ]:
df_male = df[df.gender == "M"].copy()
df_female = df[df.gender == "F"].copy()

In [ ]:
print(df_male.shape[0])
df_male

670

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
3         23      M         writer    32067
4         24      M     technician    43537
6         42      M      executive    98101
7         57      M  administrator    91344
...      ...    ...            ...      ...
936       24      M          other    32789
937       48      M       educator    98072
940       32      M  administrator    02215
941       20      M        student    97229
943       22      M        student    77841

[670 rows x 4 columns]

In [ ]:
print(df_female.shape[0])
df_female

273

         age gender  occupation zip_code
user_id
2         53      F       other    94043
5         33      F       other    15213
11        39      F       other    30329
12        28      F       other    06405
15        49      F    educator    97301
...      ...    ...         ...      ...
925       18      F    salesman    49036
930       28      F   scientist    07310
938       38      F  technician    55038
939       26      F     student    33319
942       48      F   librarian    78209

[273 rows x 4 columns]